/*
Licenced under Creative Commons Attribution-Noncommercial 2.5 Brazil
( http://creativecommons.org/licenses/by-nc/2.5/br )
to Marcus Danillo ( http://danillonunes.net / mdanillo@gmail.com )
*/
#loginbox {
	display: none;
	position: fixed;
	text-align: left;
	margin: 0;
	padding: 0;
	z-index: 99999;
	top: 0;
	left: 0;	
	width: 292px;
	background-color: #fff;
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#loginbox {
	background: #fff url('wp25/logo-login.gif') 0 4px no-repeat;
	padding: 72px 8px 8px 8px;
	border: 1px solid #d3d3d3;
}

#loginbox fieldset {
	border: none;
	padding: 0 16px;
	background-color: #eaf3fa;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#loginbox #loginbox_title {
	display: none;
}

#loginbox p {
	margin-bottom: 24px;
}

#loginbox #loginbox_username, #loginbox #loginbox_password {
	font-weight: bold;
}

#loginbox .loginbox_text {
	font-size: 20px;
	width: 97%;
	padding: 3px;
	margin-right: 6px;
}

#loginbox #loginbox_rememberme input {
	vertical-align: middle;
}

#loginbox #loginbox_submit {
	float: right;
	margin: -48px 0 0 0;
}

#loginbox #loginbox_submit input {
	font: 13px "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
	padding: 3px 5px;
	color: #246;
	border: 1px solid #80b5d0;
	background-color: #cee1ef;
	cursor: default;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#loginbox #loginbox_submit input:hover {
	color: #d54e21;
	border-color: #328ab2;
}